<%= render 'shared/errors', obj: @recipe %>

<div class="row">
	<div class="well col-md-8 col-md-offset-2">
	  <%= form_for(@recipe, html: {multipart: true }) do |f| %>
         <%= f.label :name %>
         <%= f.text_field :name %>

         <%= f.label :summary %>
         <%= f.text_field :summary %>

         <%= f.label :description %>
         <%= f.text_area :description, rows: 10 %>

         <strong>Styles:</strong>
         <%= f.collection_check_boxes :style_ids, Style.all, :id, :name do |cb| %>
           <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
         <% end %>
         <br><br>
         <strong>Ingredients:</strong>
         <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cbi| %>
           <% cbi.label(class: "checkbox-inline input_checkbox") {cbi.check_box(class: "checkbox") + cbi.text} %>
         <% end %>
         <br><br>
         <span class="picture"> 
           <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
         </span>


         <%= f.submit(@recipe.new_record? ? 'Create Recipe' : 'Edit Recipe', class: "btn btn-success") %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#recipe_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file');
    }
  });

</script>