<% if obj.errors.any? %>
  <div class="row">
  	<div class="alert alert-danger col-md-8 col-md-offset-2">
  	<h5>Please correct the following errors:</h5>
  	<ul>
       <% obj.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
  	</ul>
  </div>
 </div>
<% end %>