
$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	list-style-type: none;
}

#logo {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover {
	color: white;
	text-decoration: none;
}

body {
	padding-top: 80px;
}

.nav_item {
	margin-left: 25px;
	float: left;
	margin-top: 20px;
}

.center {
	text-align: center;
}

p {
	font-size: .7em;
}

/*h1, h2, h3, h4 {
	line-height: 1;
	font-size: 1em;
}*/

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777;
}

h4 {
	font-size: 1em;
}

.left {
	text-align: left;
	letter-spacing: .5px;
}

.footer {
	margin-top: 25px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

.chef_info {
	margin-top: 10px;
}

.gravatar {
	border-radius: 10px;
}

.well {
	background-color: #ededed;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px;
}

.input_checkbox input {
	wdith: auto !important;
}

input {
	height: auto !important;
}

span.picture {
	margin-top: 10px;
	input {
	border: 0;
	}
}

.show_recipe {
	margin: 10px 10px 10px 10px;
} 